/public/vendor
/bower_components
/node_modules
/vendor
npm_debug.log
docker-compose.yml
composer.phar

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
