{% extends "layout.html.twig" %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <img src="/img/404.jpg" class="center-block img-responsive"/>
            </div>
        </div>

        <div class="jumbotron">
            {% if show_exception_backtrace %}
                <h2>{{ exception_class }}</h2>
                <pre>{{ trace }}</pre>
            {% else %}
                <h2>The requested page cannot be found</h2>
            {% endif %}
        </div>

    </div>
{% endblock %}