files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_dependencies.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/usr/bin/env bash
        cd /var/app/staging/docker/production/fpm
        docker build -t bookshelf/php:latest .
        cd /var/app/staging
        export COMPOSER_TOKEN=$(/opt/elasticbeanstalk/bin/get-config environment | python -c 'import sys, json; print json.load(sys.stdin)["COMPOSER_TOKEN"]')
        docker run --rm -v $PWD:/app -w /app node bash -c 'npm install && npm install -g grunt-cli &&  ./node_modules/.bin/bower install --allow-root && grunt dev -no-color'
        docker run --rm -e COMPOSER_TOKEN=$COMPOSER_TOKEN  -v $PWD:/app -w /app --entrypoint=bash bookshelf/php:latest -c 'curl -sS https://getcomposer.org/installer | /usr/local/bin/php; /usr/local/bin/php composer.phar config -g github-oauth.github.com $COMPOSER_TOKEN; /usr/local/bin/php composer.phar install'
