<?php
return [
    'parameters' => [
        'doctrine' => [
            'orm' => [
                'devMode' => true,
            ],
            'conn' => [
                'driver' => 'pdo_mysql',
                'dbname' => 'demoapp',
                'user' => 'root',
                'password' => 'mysupersecretrootpassword',
                'host' => 'mysql',
            ]
        ]
    ],
];
